.main-sel {
    width: 25%;
}

.sdgselector input{
    margin:0;padding:0;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
}

.sdg1{background-image:url('/static/images/sdg-1.png');}
.sdg2{background-image:url("/static/images/sdg-2.png");}
.sdg3{background-image:url("/static/images/sdg-3.png");}
.sdg4{background-image:url("/static/images/sdg-4.png");}
.sdg5{background-image:url("/static/images/sdg-5.png");}
.sdg6{background-image:url("/static/images/sdg-6.png");}
.sdg7{background-image:url("/static/images/sdg-7.png");}
.sdg8{background-image:url("/static/images/sdg-8.png");}
.sdg9{background-image:url("/static/images/sdg-9.png");}
.sdg10{background-image:url("/static/images/sdg-10.png");}
.sdg11{background-image:url("/static/images/sdg-11.png");}
.sdg12{background-image:url("/static/images/sdg-12.png");}
.sdg13{background-image:url("/static/images/sdg-13.png");}
.sdg14{background-image:url("/static/images/sdg-14.png");}
.sdg15{background-image:url("/static/images/sdg-15.png");}
.sdg16{background-image:url("/static/images/sdg-16.png");}
.sdg17{background-image:url("/static/images/sdg-17.png");}
.sdg-0{background-image:url("/static/images/sdg-0.png");}


input:checked +.sdgimage{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.sdgimage{
    cursor:pointer;
    background-size:contain;
    background-repeat:no-repeat;
    display:inline-block;
    width:48px;height:48px;
    -webkit-transition: all 100ms ease-in;
       -moz-transition: all 100ms ease-in;
            transition: all 100ms ease-in;
    -webkit-filter: brightness(0.5) grayscale(0.6) opacity(.9);
       -moz-filter: brightness(0.5) grayscale(0.6) opacity(.9);
            filter: brightness(0.6) grayscale(0.2) opacity(.9);
}
.sdgimage:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
    -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
    filter: brightness(1.2) grayscale(.5) opacity(1);
}

.filter-title {
    width: 100%;
    background: #0265b5;
    font-family: ProximaNova, sans-serif;
    font-size: 1.5rem;
    color: white;
    padding: 5px 0 5px 5px;
}

.filter-content {
    width: 100%;
    background: #E8E8E8;
    font-family: ProximaNova, sans-serif;
    font-size: 0.95rem;
    color: #0a0a0a;
    padding: 5px 0 5px 5px;
}

.filter-main {
    background: #E8E8E8;
    margin-bottom: 10px;
}

h1 {
    font-family: ProximaNova, sans-serif;
    letter-spacing: 2px;
    color: #0a0a0a;
    font-size: 2.6rem;
}

.collapsible {
    text-align: left;
    cursor: pointer;
    margin-bottom: 5px;
  }
  
  .collapsible:hover {
    background-color: #1f97d5;
  }
  
  .collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .collapsible:after {
    content: '\023F7'; /* Unicode character for "plus" sign (+) */
    font-family: ProximaNova, sans-serif;
    font-size: 1.5rem;
    color: white;
    float: right;
}

.active:after {
    content: "\23F6"; /* Unicode character for "minus" sign (-) */
}

.controlers {
    background: #E2E2E2
}

.project-info {
    border-radius: 4px;
    font-family: ProximaNova, sans-serif;
    border: 2px solid #E2E2E2;
    background: #e8e8e8;
    margin-bottom: 10px;
    /* padding-left: 5px; */
}

.project-title {
    /* width: 100%; */
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-family: ProximaNova, sans-serif;
    background: #0265b5;
    font-size: 1.5rem;
    color: white;
    padding: 8px 8px 8px 8px;
}

.leaflet-control-attribution {
    display: none !important;
}

.sdg-img {
    padding-left: 10px;
}

footer {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    background-color: #0265b5;
    color: #fefefe !important;
    font-family: ProximaNova, sans-serif;
    font-size: .75rem;
    letter-spacing: .5px;
}

.nav-footer {
    background-color: #0265b5;
}

.row {
    /* max-width: 75rem; */
    margin-right: auto;
    margin-left: 5px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
}

.copyright {
    order: 1;
    flex: 0 0 21%;
    max-width: 21%;
}

.disclaimer {
    order: 2;
    flex: 0 0 79%;
    max-width: 79%;
}

.align-middle {
    -webkit-box-align: center;
    align-items: center;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,

/* We use html here because we need a greater specificity to make sure disabled
works properly when clicked or hovered */
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #f6f6f6;
	font-weight: normal;
	color: #454545;
}

.custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5;
}

.ui-widget .ui-widget {
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1em;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 3px;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
    color: #454545;
    text-decoration: none;
}

.custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 3px;
}

.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 3px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

.ui-button-icon-only {
    width: 2em;
    box-sizing: border-box;
    text-indent: -9999px;
    white-space: nowrap;
}

.ui-button {
    padding: .4em 1em;
    display: inline-block;
    position: relative;
    line-height: normal;
    margin-right: .1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: visible;
}

#donors {
    vertical-align: middle;
}

#showall {
    height: 30px;
}

#ui-id-1 {
    height: 300px;
    overflow: auto;
}