{% load leaflet_tags %}
<html>

<head>
    {% leaflet_js %}
    {% leaflet_css %}
    {% load static %}
    <script src="/static/geojson/serbia_municipality.js" type="text/javascript"></script>
    <link rel="stylesheet" href="/static/css/markercluster/MarkerCluster.css" />
    <link rel="stylesheet" href="/static/css/markercluster/MarkerCluster.Default.css" />
    <script src="/static/js/markercluster/leaflet.markercluster-src.js"></script>
    <style>
        .leaflet-container { height: 100%; width: 100%}
        .controlers { width: 500px;}
        .sdg-contorls [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
            filter: grayscale(0%);
        }
        .sdg-image {
            filter: grayscale(100%);
            height: 48px;
            width: 48px;
        }
        .topic-option {
            width: 100%;
        }
    </style>
</head>

<body>
    <div style="display:flex;">
        <div class="controlers">
            <div>
                <h3>Topic:</h3>
                <label class="topic-option">
                    <p><input type="radio" value="0" name="topics" onclick="onOptionChange()" checked>Show All</p>
                </label>
                {% for topic in topics %}
                <label class="topic-option">
                    <p><input type="radio" value={{ topic.id }} name="topics" onclick="onOptionChange()">{{ topic.name }}</p>
                </label>
                {% endfor %}
            </div>
            <div class="sdg-contorls">
                <h3>SDG:</h3>
                <!-- <form>
                    {% for sdg in sdgs %}
                        <input type="radio" value={{ sdg.id }} {% if request.POST.sdgs == sdg.id|slugify  %} selected {% endif %}>{{ sdg.name }}<br>
                    {% endfor %}
                </form> -->
                <div>
                    {% for sdg in sdgs %}
                    <label>
                        <input type="radio" value={{ sdg.id }} name="sdg">
                        <img class="sdg-image" src="/static/images/sdg-{{ forloop.counter }}.png" />
                    </label>
                    {% endfor %}
                </div>
            </div>
            <div>
                <h3>Category:</h3>
                <!-- <form action="">
                    {% for category in categories %}
                        <input type="radio" value={{ category.id }}>{{ category.name }}<br>
                    {% endfor %}
                </form> -->
            </div>
        </div>
        {% leaflet_map "main" %}
    </div>
</body>
<script type="text/javascript">

    var projects = null;
    var markers = null;
    var info = null;
    var map = null;

    function onOptionChange() {

        var topic = document.querySelector('input[name=topics]:checked').value;

        var url = '/api/activities/?';
        var params = {};
        if (topic != 0) { params.topic = topic };

        var query = Object.keys(params)
            .map(key => encodeURIComponent(key) + '=' + encodeURIComponent(params[key]))
            .join('&');

        url = url + query;

        fetch(url, {
            method: 'get'
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            projects = data;
            var map = mapsPlaceholder[0];
            deleteAllMarkers(map);
            setMarkers(map, data)
        }).catch(function (error) {
            console.log(error);
        });
    }

    function getFillColor(municipality_name) {
        var match = false;
        for (var i in projects) {
            if (projects[i].location.name === municipality_name) {
                match = true;
                break;
            }
        }

        if (match === true) return 'rgb(0, 54, 128)'
        else
            return '#000'

    }

    function style(feature) {
        return {
            weight: 1,
            opacity: 1,
            color: 'rgb(255, 255, 255)',
            dashArray: '',
            fillOpacity: 0.5,
            fillColor: getFillColor(feature.properties.NAME_2)//'rgb(0, 54, 128)'
        };
    }

    var mapsPlaceholder = [];

    L.Map.addInitHook(function () {
        mapsPlaceholder.push(this);
    });

    function setMarkers(map, data) {
        markers = L.markerClusterGroup();

        for (var i = 0; i < data.length; i++) {
            var item = data[i];
            var marker = L.marker(new L.LatLng(item.location.latitude, item.location.longitude), { project: item });
            marker.on('click', markerClick);
            markers.addLayer(marker);
        }

        map.addLayer(markers);
    }

    function deleteAllMarkers(map) {
        map.removeLayer(markers);
    }

    function markerClick(e) {
        var layer = e.target;
        debugger;
        console.log(layer.options.project.project_name);
    }

    function isMarkerInsidePolygon(marker, poly) {
        var polyPoints = poly.getLatLngs()[0];
        var x = marker.getLatLng().lat, y = marker.getLatLng().lng;

        var inside = false;
        for (var i = 0, j = polyPoints.length - 1; i < polyPoints.length; j = i++) {
            var xi = polyPoints[i].lat, yi = polyPoints[i].lng;
            var xj = polyPoints[j].lat, yj = polyPoints[j].lng;

            var intersect = ((yi > y) != (yj > y))
                && (x < (xj - xi) * (y - yi) / (yj - yi) + xi);
            if (intersect) inside = !inside;
        }

        return inside;
    };

    window.addEventListener("map:init", function (event) {

        map = event.detail.map;

        // var map = L.map('map').setView([44.008248, 20.914047], 7);

        L.geoJson(municipality_data, {
            clickable: true,
            style: style,
        }).addTo(map);

        var dataurl = '/api/activities/';

        fetch(dataurl)
            .then(function (resp) {
                return resp.json();
            })
            .then(function (data) {
                projects = data;
                setMarkers(map, data)
            })
            .catch(function (error) {
                console.log(error);
            })
    });
</script>

</html>